@import url("../node_modules/@fortawesome/fontawesome-free/css//all.min.css");

:root {
  --black2: rgb(53, 53, 53);
  --white2: #ececec;
  --red2: #eb5757;
  --red3: #761414;
  --red4: #4e0b0b;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;

  background-image: linear-gradient(
    135deg,
    rgb(241, 241, 241) 30%,
    rgb(247, 207, 207)
  );
}

h2 {
  font-size: 2.25rem;
  color: var(--red2);
}

.container {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.box-shadow {
  box-shadow: 0px 5px 5px rgb(212, 212, 212);
}

.btn {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.btn-fill {
  border: 2px solid var(--red2);
  color: var(--white2);
  background-color: var(--red2);
  transition: all 0.1s;
}

.btn-fill:hover {
  background-color: #c24343;
  border-color: #c24343;
}

.btn-out {
  border: 2px solid var(--red2);
  color: var(--red2);
  transition: all 0.2s;
}
.btn-out:hover {
  border-color: #c24343;
  background-color: #c24343;
  color: white;
}

main {
  margin: 2em;
}

header {
  background: linear-gradient(
    to right,
    var(--red2) 0%,
    var(--red2) 30%,
    white 30%,
    white 100%
  );
}

.header-main {
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

header ul {
  list-style: none;
  gap: 2em;
}

header ul a {
  color: var(--red2);
  text-decoration: none;
  font-size: 1.1rem;
  transition: all 0.1s;
}

.nav-active {
  border-bottom: 2px solid var(--red2);
}

nav ul a:hover {
  color: #be4040;
  border-bottom: 2px solid #be4040;
}

header .btn {
  margin-left: 1em;
  font-size: 0.9rem;
}

.nav-profile {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.nav-dropdown {
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 0.25em 1em;
  z-index: 1;
  list-style: none;
  border-radius: 5px;

  border-top: 3px solid var(--red3);
}

.nav-dropdown li {
  padding: 0.5em 0;
  border-radius: 1px;
  transition: all 0.1s;
}
.nav-dropdown li:hover {
  background-color: rgb(248, 248, 248);
}

.nav-dropdown a {
  font-size: 1rem;
}

.nav-dropdown a:hover {
  color: #be4040;
}

.nav-prof-button {
  border: 1px solid var(--red2);
  border-radius: 25px;
  padding: 0.25em 1em;
  color: var(--red2);
  gap: 0.5em;
  transition: all 0.1s;
}

.nav-prof-button:hover {
  border: 1px solid #be4040;
  color: white;
  background-color: #be4040;
}

.nav-prof-button-active {
  background-color: #be4040;
  color: white;
}

.nav-prof-button i {
  font-size: 0.75rem;
  vertical-align: middle;
  margin-right: 0.5em;
}

footer {
  margin-top: auto;
}

.footer-desc {
  justify-content: space-between;
  color: var(--white2);
  background-color: var(--red3);
  padding: 2em 0;
}

.footer-desc > div {
  gap: 0.5em;
  justify-content: space-between;
}

.footer-desc > div > div {
  text-align: left;
}

.footer-desc a {
  color: var(--white2);
  text-decoration: none;
}

.footer-desc ul {
  list-style: none;
  flex-direction: column;
  gap: 0.2em;
  padding-left: 0;
  padding: 1em 0;
}

.footer-desc li {
  margin: 0.2em 0;
}

.soc-links {
  padding: 1em 0;
  gap: 1em;
}

.soc-links i {
  font-size: 2rem;
}

.footer-title {
  background-color: var(--red4);
  color: var(--white2);
  padding: 2em 0;
  text-align: center;
  font-weight: 100;
}

.left-border-box {
  border-left: 20px solid var(--red2);
  background-color: white;
  border-radius: 10px;
}

/* Signup Page */

.sl-form {
  background-color: #ffffff;

  /* padding: 2em 4em; */
  flex-direction: column;
  width: 55%;
  margin: 1.5em auto;
  font-size: 25px;
  border-radius: 10px;
}

.sl-form label {
  margin-top: 0.75em;
  margin-bottom: 0.4em;
  color: var(--black2);
}

.sl-form input,
select {
  font-size: 1.5rem;
  padding: 0.25em;
  border-radius: 5px;
  border-width: 1px;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(173, 173, 173);
}

.sl-form input[type="submit"] {
  margin-top: 1em;
  cursor: pointer;
  background-color: var(--red2);
  border: 0;
  color: var(--white2);
  font-size: 1.5rem;
  padding: 0.5em 0;
  transition: all 0.1s;
}

.sl-form input[type="submit"]:hover {
  background-color: #be4040;
}
.sl-form input[type="submit"]:active {
  background-color: var(--red3);
}

.sl-form hr {
  margin-top: 0.5em;
}

/* Lookfor Page */
.look-for {
  margin-top: 2em;
  background-color: white;
  border-radius: 5px;
}

.main-box {
  width: 75%;
  margin: 0 auto;
  padding: 1.5em 0;
}

.main-box table {
  width: 100%;
  text-align: left;
}

.filter-blood-type,
.filter-blood-type select {
  font-size: 1rem;
}

.filter-blood-type {
  margin: 1em 0;
}

.main-box table thead {
  background-color: var(--red2);
  color: white;
  font-size: 1.2rem;
}

.main-box table tbody tr:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

.main-box table tbody td {
  font-size: 1.1rem;
}

.main-box table th {
  padding: 0.5em;
}
.main-box table td {
  padding: 0.5em;
}

.main-box table caption {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

.main-box hr {
  margin-top: 1em;
}

.main-box button {
  background-color: var(--red2);
  color: white;
  cursor: pointer;
  border: 0;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  letter-spacing: 1px;
}

.main-box button:disabled {
  background-color: var(--red3);
  color: gray;
  cursor: no-drop;
}

.req-details-btn {
  margin: 2em 0;
  justify-content: space-between;
}

.user-req-page {
  width: 85%;
}

.user-req-page > div {
  flex-direction: column;
  gap: 1em;
}
